APP_NAME=exercises
APP_ENV=local
APP_KEY=base64:5R/Kknu1wRPnMB6AIZXAPrCZCXuQzBaBoapnVwFB418=
APP_DEBUG=true
APP_TIMEZONE=Asia/Shanghai
APP_URL=http://wsl.exercises.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=service.local.com
DB_PORT=43257
DB_DATABASE=exercises
DB_USERNAME=exercises
DB_PASSWORD=6zxT3cwLtYNsJ6tW

SESSION_DRIVER=redis
SESSION_STORE=redis
SESSION_CONNECTION=session
SESSION_DOMAIN=service.local.com
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=

MEMCACHED_HOST=service.local.com

REDIS_CLIENT=phpredis
REDIS_HOST=service.local.com
REDIS_PASSWORD=123456
REDIS_PORT=43379

MAIL_MAILER=log
MAIL_HOST=service.local.com
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

#文件上传
UPLOAD_FILE_KODBOX_API_URL="service.local.com:40069"
UPLOAD_KODBOX_USERNAME="gong"
UPLOAD_KODBOX_PASSWORD="ggq!5201314"

#微信公众号
WX_APPID="wx9f1b43189f91bf83"
WX_APPSECRET="5c7f03c8bb0ef2e062947c859c7dbf91"

#Bark消息推送
MESSAGE_SEND_BARK_API_URL="https://api.day.app"
MESSAGE_SEND_BARK_TOKEN="s2bDhvKu7B4yGnCdWPnELM"

#mongoDB
MONGODB_HOST="service.local.com"
MONGODB_PORT=27017
MONGODB_DATABASE="exercises"
MONGODB_USERNAME="mongo_aeZGZE"
MONGODB_PASSWORD="mongo_zbHHWJ"

#开启通知
OPEN_REQUEST_NOTICE=1
OPEN_REQUEST_NOTICE_TYPE="bark"

#RabbitMq队列配置
AMQP_HOST="service.local.com"
AMQP_PORT="5672"
AMQP_LOGIN="exercises"
AMQP_PASSWORD="exercises"
AMQP_VHOST="exercises"

#请求三方接口异步通知结果
REQUEST_EXCHANGE="exercises.request.ex"
REQUEST_NOTIFY_RESULT_ROUTING_KEY="request_result"
REQUEST_NOTIFY_RESULT_QUEUE="exercises.notify_result.que"

#韩小韩WebAPI接口
VVHAN_API_URL="https://api.vvhan.com"

#文件上传
FILE_UPLOAD_EXCHANGE="exercises.file_upload.ex"
FILE_UPLOAD_BACKGROUND_ROUTING_KEY="background"
FILE_UPLOAD_BACKGROUND_QUE="exercises.file_upload.que"

#邮件发送
EMAIL_SEND_HOST="smtp.163.com"
EMAIL_SEND_USERNAME="15756263944@163.com"
EMAIL_SEND_PASSWORD="WZeatKhQHVSM4KJE"
EMAIL_SEND_PORT=465
EMAIL_SENDER_NAME="超级系统"

#项目接口地址
PROJECT_API_URL="http://wsl.exercises.com"

#Pusher配置信息
PUSHER_APP_ID="1928061"
PUSHER_APP_KEY="6478671f2b8cfb40a609"
PUSHER_APP_SECRET="4d2a26767d064bdc7525"
PUSHER_HOST=wsl.exercises.com
PUSHER_PORT=443
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=ap2

#Pusher客户端配置信息
VITE_PUSHER_APP_KEY="6478671f2b8cfb40a609"
VITE_PUSHER_HOST=wsl.exercises.com
VITE_PUSHER_PORT=443
VITE_PUSHER_SCHEME=http
VITE_PUSHER_APP_CLUSTER=ap2
